@font-face {
	font-family: "Verdana-Regular";
	src: url("fonts/5/Verdana-Regular.eot");
	src: url("fonts/5/Verdana-Regular.eot?#iefix") format("embedded-opentype");
	src: local("Verdana-Regular"),
		url("fonts/5/Verdana-Regular.woff") format("woff"),
		url("fonts/5/Verdana-Regular.ttf") format("truetype"),
		url("fonts/5/Verdana-Regular.svg#Verdana-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "NeoSansCyr-Medium";
	src: url("fonts/2/NeoSansCyr-Medium.eot"); /* Для поддержки браузера IE6+ */
	src: url("fonts/2/NeoSansCyr-Medium.eot?#iefix") format("embedded-opentype"); /* Хак корректного отображения шрифта в IE8 */
	src: local("NeoSansCyr-Medium"), /* проверка на наличие шрифта в ОС пользователя */
		url("fonts/2/NeoSansCyr-Medium.woff") format("woff"), /* Для современных браузеров */
		url("fonts/2/NeoSansCyr-Medium.ttf") format("truetype"),
		url("fonts/2/NeoSansCyr-Medium.svg#JournalRegular") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: "PFDinTextPro-Thin";
	src: url("fonts/3/PFDinTextPro-Thin.eot"); /* Для поддержки браузера IE6+ */
	src: url("fonts/3/PFDinTextPro-Thin.eot?#iefix") format("embedded-opentype"); /* Хак корректного отображения шрифта в IE8 */
	src: local("PFDinTextPro-Thin"), /* проверка на наличие шрифта в ОС пользователя */
		url("fonts/3/PFDinTextPro-Thin.woff") format("woff"), /* Для современных браузеров */
		url("fonts/3/PFDinTextPro-Thin.ttf") format("truetype"),
		url("fonts/3/PFDinTextPro-Thin.svg#JournalRegular") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: "PFDinTextPro-XBlack";
	src: url("fonts/4/PFDinTextPro-XBlack.eot"); /* Для поддержки браузера IE6+ */
	src: url("fonts/4/PFDinTextPro-XBlack.eot?#iefix") format("embedded-opentype"); /* Хак корректного отображения шрифта в IE8 */
	src: local("PFDinTextPro-XBlack"), /* проверка на наличие шрифта в ОС пользователя */
		url("fonts/4/PFDinTextPro-XBlack.woff") format("woff"), /* Для современных браузеров */
		url("fonts/4/PFDinTextPro-XBlack.ttf") format("truetype"),
		url("fonts/4/PFDinTextPro-XBlack.svg#JournalRegular") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: "Archive";
	src: url("fonts/1/Archive.eot"); /* Для поддержки браузера IE6+ */
	src: url("fonts/1/Archive.eot?#iefix") format("embedded-opentype"); /* Хак корректного отображения шрифта в IE8 */
	src: local("Archive"), /* проверка на наличие шрифта в ОС пользователя */
		url("fonts/1/Archive.woff") format("woff"), /* Для современных браузеров */
		url("fonts/1/Archive.ttf") format("truetype"),
		url("fonts/1/Archive.svg#JournalRegular") format("svg");
	font-weight:normal;
	font-style:normal;
}
#casper {
	/*	margin-top: -58px;*/
	/*	margin-top: 23px;*/
	/*	margin-top: 48px;*/
	/*	margin-top: 43px;*/
	display: none;
margin-top: -542px;
	margin-left: -670px;
	position: absolute;
	width:1920px;
	height: 1932px;
	opacity: 0.6;
	z-index: 80;
	background: url(images/casper.jpg) no-repeat left;
}

* {
	margin: 0px;
	padding: 0px;
	font: normal normal normal 13px/19px Verdana, "Verdana", Arial, Trebuchet, san-serif;
}
a {
	color: #5c8abc;
}
#mybody {
	margin: 0 auto;
	background:  url(images/backgr-left.png) no-repeat 5% 0 fixed, fixed, url(images/backgr-right.png) no-repeat no-repeat 95% 0 fixed, fixed, black;

}
div#backgrnd{
	position: fixed;
	overflow: visible;
	width: 100%;
	height: 100%;
	text-align: center;
}

.buzzer {
	z-index: 5;
	text-align: center;
	position: absolute;
	padding: 14px;
	width: 309px;
	height: 280px;
}
.zvon-test {
	padding-left: 74px; 
	width: 201px !important;
}
#test {
	position: absolute;
	top: 219px;
	left: 33px;
	display: block;
}
.buzzer form {
	padding: 0 17px;
	width: 273px;
	height: 278px;
	border: solid 1px rgb(186,186,186);
	border-radius: 5px;
	background: white;
	color: #6b6b6b;
}
.buzzer form h2 {
	font-family: "NeoSansCyr-Medium",Verdana;
	font-size: 22px;
	line-height: 25px;
	display: block;
	width: 100%;
	height: 40px;
	color: black;
	padding-top: 10px;
}
.buzzer form input.zv-text {
	display: block;
	width: 275px;
	height: 36px;
	border: solid 1px rgb(186,186,186);
	margin-bottom: 13px;
}
.buzzer form input.zvon-inp {
	padding-left: 10px;
	width: 265px;
}
.buzzer>a {
	position: absolute;
	background: url(images/zvonok-close-pas.png) no-repeat left;
	width: 29px;
	height: 28px;
	top: 0px;
	right: 0px;
}
.buzzer a:hover {
	background: url(images/zvonok-close-act.png) no-repeat left;
}
.buzzer a:active {
	box-shadow: 0 0 15px rgba(0,0,0,0.7); /* Параметры тени */
	cursor: progress;
}
.fbutton {
	position: absolute;
	text-align: center;
	top: 20%;
	right: 10%;
	display: block;
	padding-top: 20px;
	width: 311px;
	height: 86px;
	background: url(images/button-fon-nad.png) no-repeat left, url(images/button-fon.png) no-repeat left;
	text-decoration: none;
}
a.fbutton span {
	display: block;
	font-family: "NeoSansCyr-Medium";
	font-size: 24px;
	line-height: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-shadow:0 3px 4px rgba(0,0,0,.9);
	visibility: hidden;
}
div.wrapper  {
	display: table;
	margin: 0 auto;
	position: relative;
}
div#ravn {
	height: 44px;
	margin: 0 auto;
	text-align: center;
}
div#top-menu {
	display:inline-block;
	height: 42px;
	min-width: 1003px;
	width: auto;
	margin: 0 auto;
	border: 1px solid green;
	background: rgb(255, 239, 141); /* Для старых браузров */
	background: -moz-linear-gradient(top, rgb(255, 239, 141), rgb(166, 195, 22)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgb(255, 239, 141)), color-stop(100%,rgb(166, 195, 22)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, rgb(255, 239, 141), rgb(166, 195, 22));
	background: -o-linear-gradient(top, rgb(255, 239, 141), rgb(166, 195, 22)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255, 239, 141), rgb(166, 195, 22)); /* IE10 */
	background: linear-gradient(top, rgb(255, 239, 141), rgb(166, 195, 22)); /* CSS3 */ 
}
div#top-menu ul {

	max-height: 42px;
	list-style: none;
	display: inline-block;
	text-align: center;
}
div#top-menu ul li {

	display: inline-block;
	padding: 0px 31.9px;
	height: 42px;
	float: left;
}
.active-tm{
	background: rgba(234, 254, 110, 0.7); /* Для старых браузров */
	background: -moz-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgba(234, 254, 110, 0.7)), color-stop(100%,rgba(206, 225, 72, 0.7)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7));
	background: -o-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* IE10 */
	background: linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* CSS3 */
}
.active-tm a{
	text-decoration: none;
}
div#top-menu ul li:hover {
	background: rgba(234, 254, 110, 0.7); /* Для старых браузров */
	background: -moz-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgba(234, 254, 110, 0.7)), color-stop(100%,rgba(206, 225, 72, 0.7)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7));
	background: -o-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* IE10 */
	background: linear-gradient(top, rgba(234, 254, 110, 0.7), rgba(206, 225, 72, 0.7)); /* CSS3 */
}
div#top-menu ul li:hover a {
	text-decoration: none;
}
div#top-menu .top-meny-left {
	height: 42px;

	width: auto;
	background: black;
}
div#top-menu .top-meny-right {
	float: right;
	width: auto;
	background: black;
}
a.top-menus {
	display: block;
	padding-top: 10px;
	font-size: 13px; 
	text-transform: lowercase;
	color: #212121;
}
div#header-cont {
	margin: 0 auto;
	-moz-min-height: 99px;
	-webkit-min-height: 99px;
	min-height: 99px;
	padding-bottom: 9px;
	min-width: 999px;
	display: table;
	border: 1px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: white;
	overflow: visible;
}
#header-logo, #header-avtorizacia, #header-adress, #header-contacts {
	height: 100%;
	display: inline-block;
}
div#header-logo {
	width: auto;
}
div#header-logo img {
	margin: 22px 0px 0px 28px;
}
#header-cont>div {
	text-align: center;
	display: inline-block;
	width: 23%;
	font-size: 12px;
	float: left;
}
#header-cont * a {
	color:#5c8abc;;
	text-decoration: underline;
}
#header-cont div a, #header-cont div p {
	display: block;
}
#header-authorisation {
	width: 300px !important;
	height: 100%;
}
#header-authorisation p {
	padding-top: 3px;
	padding-bottom: 2px;
	text-align: center;
	padding-left: 76px;
}
#header-authorisation a{
	display: inline-block !important;
}
#header-authorisation input {
	display: block;
}
#authorisation {
	width: 150px;
	text-align: center;
	margin-left: 110px;
}
#authorisation div {
	float: right;
	margin-top: 10px;
	padding-right: 3px;
}
#autoris-name {
	margin-bottom: 4px;
}
#autoris-name, #autoris-password {
	height: 21px;
	width: 88px;
	padding-left: 10px;
	border: 1px solid #B2B2B2;
	border-radius: 8px;
}
.author-rp {
	width: 100% ;
	height: auto;
	padding-top: 6px;
	padding-left: 26px;
}
#header-adress {
	width: 210px !important;
	padding-left: 30px;
}
#header-adress p:first-of-type {
	padding-top: 4px;
	margin-bottom: -5px;
}
#header-adress a:first-of-type {
	margin-top: 1px;
}
#header-contacts {
	max-width: 222px !important;
}
#header-contacts p:first-of-type {
	padding-top: 2px;
	margin-bottom: 6px;

}
#header-contacts p:last-of-type {
	text-align: left;
	padding-left: 16px;
}
#header-contacts p span {
	display: inline-block;
	font-family: "Archive";
	font-size: 30px;
	/*	font-weight: bolder;*/
	vertical-align: sub;
	padding-left: 4px;
}
#header-contacts>a {
	padding-top: 5px;
	padding-left: 20px;
}
#header-contacts>a:last-of-type {
	padding-top: 10px;
}
#lmen-cont {
	display: table;
	margin: 5px auto 0 auto;
	padding-bottom: 30px;
	min-width: 999px;
	border: 1px solid white;
	border-radius: 5px;
	background: white;
	padding-top: 8px;
	overflow: visible;
}
#left-menu {
	float: left;
	padding-left: 5px;
	padding-right: 4px;
	height: 100%;
	width: 226px;
}
.left-panel {
	width: 224px;
	border: 1px solid rgb(211,214,125);
	border-radius: 5px;
	margin-bottom: 8px;
}
.left-panel div.left-panel-top {
	height: 28px;
	width: 100%;
	background: rgb(211, 224, 125); /* Для старых браузров */
	background: -moz-linear-gradient(-195deg, rgb(255, 255, 255), rgb(211, 224, 125), rgb(199, 215, 92)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgb(255, 255, 255)),color-stop(20%,rgb(211, 224, 125)), color-stop(100%,rgb(199, 215, 92)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(-195deg, rgb(255, 255, 255), rgb(240, 249, 183), rgb(199, 215, 92));
	background: -o-linear-gradient(-195deg, rgb(255, 255, 255), rgb(211, 224, 125), rgb(199, 215, 92)); /* Opera 11.10+ */
	background: -ms-linear-gradient(-195deg, rgb(255, 255, 255), rgb(211, 224, 125), rgb(199, 215, 92)); /* IE10 */
	background: linear-gradient(-195deg, rgb(255, 255, 255), rgb(211, 224, 125), rgb(199, 215, 92)); /* CSS3 */ 
	-moz-box-shadow: 0 0 10px rgba(255,255,255,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5); /* Для Safari и Chrome */
	box-shadow: 0 0 10px rgba(255,255,255,0.5); /* Параметры тени */
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#ffffff, strength=10);
}
div.left-panel-top span {
	width: auto;
	height: 100%;
	display: inline-block;
	font-family: "NeoSansCyr-Medium",Verdana;
	font-size: 22px;
	/*	font-weight: bold;*/
	line-height: 24px;
	padding-top: 2px;

}
.left-panel-bottom {
	background: rgb(180, 202, 38); /* Для старых браузров */
	background: -moz-linear-gradient(top, rgb(180, 202, 38), rgb(161, 181, 34)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgb(180, 202, 38)), color-stop(100%,rgb(161, 181, 34)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, rgb(180, 202, 38), rgb(161, 181, 34));
	background: -o-linear-gradient(top, rgb(180, 202, 38), rgb(161, 181, 34)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(180, 202, 38), rgb(161, 181, 34)); /* IE10 */
	background: linear-gradient(top, rgb(180, 202, 38), rgb(161, 181, 34)); /* CSS3 */ 
	padding: 6px 4px 4px 3px;
}
.left-panel-bottom h3, div.lfmenu a, div.left-panel-top span {
	padding-left: 6px;
}
.left-panel-bottom h3:last-of-type {
	color: #5c8abc; 
}

div.lfmenu {
	display: none;

}
div.lfmenu a {
	color: #020100;
	font-size: 12px; 
	line-height: 24px;
	cursor: pointer;
	text-decoration: none;
}
div.lfmenu a span {
	text-decoration: underline !important;
	font-size: 12px;
}
div.lfmenu a:before {
	content: "- ";
}
.accordion h3 {
	background: white url(images/buttlm-st.png) no-repeat 97%;
	height: 24px;
	border-bottom: 1px solid rgb(230, 230, 230);
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
	padding-top: 2px;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion h3.active {
	border-bottom: 1px solid rgb(192, 210, 78);
	background: rgb(192, 210, 78) url(images/buttlm-act.png) no-repeat 97%;
	text-decoration: none;
}
h3.not-active {
	background: white url(images/buttlm-pas.png) no-repeat 97%;
}
.accordion div {
	padding:  0px 15px 2px 0px;

}
.vk {
	border-radius: 5px;
	padding: 0px 6px 0px 6px;
	background: rgb(152, 186, 77); /* Для старых браузров */
	background: -moz-linear-gradient(-195deg, rgb(152, 186, 77), rgb(126, 192, 69)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgb(152, 186, 77)), color-stop(100%,rgb(126, 192, 69)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(-195deg, rgb(240, 249, 183), rgb(126, 192, 69));
	background: -o-linear-gradient(-195deg, rgb(152, 186, 77), rgb(126, 192, 69)); /* Opera 11.10+ */
	background: -ms-linear-gradient(-195deg, rgb(152, 186, 77), rgb(126, 192, 69)); /* IE10 */
	background: linear-gradient(-195deg, rgb(152, 186, 77), rgb(126, 192, 69)); /* CSS3 */ 
}
.vk p {
	text-shadow: 0px 2px 0px black; /* Параметры тени */
	filter: Shadow(Color=#000000, Direction=90, Strength=4);
	display: block;
	min-height: 32px;
	font-family: "NeoSansCyr-Medium", Verdana;
	font-size: 22px;
	color: white;
	padding-top: 5px;
}
#cont-ban {
	float: left;
	padding-left: 4px;
}
#banner {
	position: relative;
	margin-bottom: 11px;

}
.banner-backg {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(images/ban-bottom.png) repeat-x top left;
	height: 48px;
	width: 752px;
	text-align: center;
	color: white;

}
.banner-backg p, .banner-backg p span{
	font-family: "NeoSansCyr-Medium"; 
	font-size: 19px;
	line-height: 24px; 
	font-weight: bold;
	padding-top: 10px;

	/*	font-family: Verdana;
		font-size: 22px;*/
}
.banner-time {
	position: absolute;
	top: 148px;
	left: 0px;
	width: 335px;
	height: 34px;
	background: rgb(187,215,0);
}
.banner-time span {
	display: inline-block;
	padding-top: 7px;
	font-size: 12px;
	padding-left: 10px;

}
.banner-but {
	position: absolute;
	right: 11px;
	bottom: 8px;
	width: 233px;
	padding-top: 10px;
	height: 35px;
	background: url(images/banner-button2-nadpids.png) 0px 0px no-repeat, url(images/banner-button2.png) no-repeat;
	font-family: "NeoSansCyr-Medium";
	font-size: 19px;
	line-height: 24px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-right: 2px;
	text-shadow: 1px 1px 2px black, 0 0 1em black; /* Параметры тени */
	filter: Shadow(Color=#000000, Direction=90, Strength=4);
	overflow-x: visible;
}
.banner-but span {
	font-family: "NeoSansCyr-Medium";
	font-size: 19px;
	line-height: 24px;
	color: white;
	white-space: nowrap;
	visibility: hidden;
}
.banner-but a:active {
	box-shadow: 0 0 15px rgba(0,0,0,0.7); /* Параметры тени */
	cursor: progress;
}
#banner img {
	display: block;
}
#banner-mini {
	width: 100%;
}
#banner-mini ul {
	display: block;
}
#banner-mini ul li{
	margin-left: 0px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 1px;
}
#banner-mini ul li:last-of-type {
	margin-right: 0px;
	margin-left: -1px;
}

#banner-mini ul li a:first-child{
	display: block;
	border: 1px solid grey;
}
#banner-mini ul li a img{
	display: block;
}
.bm-active {

}
#banner-mini * img.bm-act {
	position: absolute;
	top: -11px;
	left: 0px;
	display: none;
	z-index: 1;
}
#banner-mini ul li a.bm-active + img.bm-act {
	display: block !important;
}
#banner-mini img.bm-act + a {
	position: absolute;
	height: 45px;
	width: 100%;
	display: block;
	left: 0px;
	bottom: 0px;
	background-image: url(images/ban2-backgr.png);
	text-align: center;
	color: white;
	text-decoration: underline;
	padding-top: 5px;
	line-height: 15px;
}
#banner-mini ul li a.bm-active + img.bm-act + a.baner2-news {
	display: none !important;
}
.orderlistcontainer div.title span, .orderlistcontainer select.inputbox {
	margin-top: -5px !important;
}
.search-box {
	width: 100%;
	height: 102px;
}
#sb-filter {
	float: left;
	margin-top: -56px;
	width: 537px;
	padding-top: 13px;
	min-height: 47px;
}
#sb-filter>a{
	margin-top: 10px;
	font-size: 12px;
	color: #5c8abc;
}
.sortirovka {
	color: #5c8abc;
	padding: 3px 35px;
}
.sortirovka.actsort {
	background: grey;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color: black;
}
.tovar {
	padding-top: 18px;
	display: table;
}
.tovs {
	border: none !important;
	height: auto !important;
}
#status {
	float: right;
	width: 106px;
	height: 45px;
	text-align: center;
}
#status p {
	color: black;
}
#status a {
	color: greenyellow;
}
.tovars {
	height: 247px !important;
}
.vn-tovar {
	top: 10px;
}
#about {
	display: inline-block;
	width: 485px;
	border: 1px solid gray;
	border-radius: 6px;
	height: 330px;
	padding-left: 15px;
	padding-top: 15px;
}
#about p{
	font-size: 12px;
	display: inline-block;
	white-space: pre-wrap;
	margin-bottom: 5px;
}
#about p.lasts {
	margin-bottom: -1px;
}
#about p.lasts2 {
	line-height: 12px;
	margin-bottom: 25px;
}
#about a {
	color: #5c8abc;
	font-size: 12px;
	display: inline-block;
}
.stars {
	float: right;
	padding-right: 10px;
	padding-top: 4px;
}
.stars img {
	display: inline-block;
	margin-left: 4px; 
}
.scrin {
	margin-bottom: 4px;
}
.scrin h1 {
	/*	font-family: "NeoSansCyr-Medium"; */
	font-family: verdana;
	font-size: 19px;
	line-height: 24px;
	text-align: center;
	height: 46px;
	padding-top: 10px;
	font-weight: bold;
}
.scrin div {
	text-align: center;
}
.scrin div img{
	display: inline-block;
	width: 182px;
	height: 102px;
	margin: 0 auto;
}
.paddin {
	height: 20px;
}
.padding {
	height: 10px;
}
#name-oziv {
	height: 33px;
	width: 244px;
	border: 1px solid gray;

}
#capch-oziv {
	height: 33px;
	width: 91px;
	border: 1px solid gray;
	padding-left: 70px
}

.ab-in {
	position: relative;
	padding-top: 7px;
	text-align: center;
	display: inline-block;
}
.ab-in:first-of-type {
	text-align: left;
	margin-right: 40px;
	margin-left: 1px;
}
#otziv {
	width: 752px;
	border-top: 1px solid grey;
}
#test-oziv {
	position: absolute;
	left: 1px;
	top: 27px;
	height: 33px;
}
.comment-oz {
	width: 100%;
	padding-top: 15px;
}
.comment-oz>span {
	display:inline-block;
	margin-bottom: 4px;
}
.comment-oz>p {
	float: right;
	font-size: 10px !important;
	margin-bottom: 0px !important;
}
.comment-oz>p>span {
	font-size: 10px !important;
	margin-bottom: 2px !important;
	color: black !important;
}
.comment-oz textarea {
	border: 1px solid grey;
	width: 753px;
	height: 129px;
}
.comment-oz>div {
	text-align: center;
	padding-top: 8px;
	padding-right: 30px;
	padding-bottom: 14px;
	border-bottom: 1px solid grey;
}
.otz-otp {

}
#commentarii {
	padding-top: 15px;
	width: 755px;
	font-size: 12px !important;
	min-height: 615px;
}
#commentarii h2 {
	height: 22px;
	font-size: 12px !important;
	padding-top: 8px;
	padding-left: 5px;
}
#commentarii p {
	background: rgb(237,237,237);
	height: 37px;
	border: 1px solid grey;
	margin: 0px;
	padding-top: 3px;
	padding-left: 5px;
}
.abouts span {
	font-size: 12px;
}
.video-obzor {
	padding: 15px 0px 0px 44px;
	margin-bottom: 10px;
}
.similar {
	display: table;
	border: 1px solid gray;
	border-radius: 7px;
	padding-bottom: 10px;
	width: 752px;
}
.similar div {
	float: left;
	text-align: center;
	padding: 0 10px;
	display: table-cell;
}
.similar div:last-of-type {
	padding-right: 0px;
}
/*.similar div:first-of-type {
	
}
.similar div:last-of-type {
	
}*/
.similar div img {
	display: block;
	margin: 0 auto;
}
.similar div a {
	font-size: 12px;
}
.similar h1 {
	/*	font-family: "NeoSansCyr-Medium"; */
	font-family: verdana;
	font-size: 19px;
	line-height: 24px;
	text-align: center;
	height: 29px;
	padding-top: 10px;
	font-weight: bold;
}
.abouts {
	width: 732px;
	padding-right: 20px;
}
.abouts div h1 {
	/*	font-family: "NeoSansCyr-Medium"; */
	font-family: verdana;
	font-size: 19px;
	line-height: 24px;
	font-weight: bold;
	padding: 15px 0;
}
.abouts div p {
	margin-bottom: 22px;
	font-size: 12px;
	line-height: 24px;
}
.abouts div p span {
	color: #5c8abc;
}
.filtr-sort {
	font-size: 12px;
	margin-top: 18px;
	border-bottom: 1px solid grey;
	padding-bottom: 1px;
}
.filtr-sort p:last-of-type {
	padding-left: 24px !important;
}
.filtr-sort ul, .filtr-sort p  {
	display: inline-block;
	color: #6b6b6b;
}
.filtr-sort ul {
	padding-left: 3px;
}
.filtr-sort ul li {
	padding: 0 13px 0px 7px;
	display: inline-block;
	list-style-type: none;
	background: url(images/cursor-pas.png)  100% 60% no-repeat;
}

.filtr-sort ul li a {
	color: #5c8abc;
	font-size: 12px;
}
.filtr-sort a.fil-ic1 {
	width: 18px;
	height: 18px;
	background: url(images/filtr-ic1-pas.png) no-repeat;
	display: inline-block;
	vertical-align: bottom;
}
.filtr-sort a.fil-ic2 {
	margin-left: 10px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(images/filtr-ic2-pas.png) no-repeat;
	vertical-align: bottom;

}

.filtr-2{
	display: table;
	width: 752px;
	padding:  3px 0 0 5px;
}
#filt-left {
	min-width: 70%;
	max-width:100% ;
	/*		min-height: ;*/
}
#filt-right {
	display: inline-block;
	max-width:128px;
	float: right;
	/*		min-height: ;*/
}
#filt-left div, #filt-right div {
	height: 18px;
	margin-bottom: 5px;
	float: left;
	width: 125px;
}
#filt-end {
	display: inline-block;
	float: right;
	padding-right: 3px;
	padding-top: 3px;
}
#filt-end>span {
	position: relative;
	display: block;
	font-size: 12px;
	height: 16px;
	width: 117px;
	margin-bottom: 4px;
	border: 2px solid #0F6A97;
	z-index: 3;
}
.iconka {
	right: 0px;
	top: 0px;
	position: absolute;
	background: white url(images/cursor-pas.png) 0% 50% no-repeat;
	width: 14px;
	height: 14px;

}
#butt-filtr {
	clear: both;
	padding-right: 27px;
	text-align: center;
	height: 40px;
	padding-top: 6px;
}
#filt-end span select {
	z-index: 2;
	font-size: 12px;
	height: 16px;
	display: block;
	width: 117px;
	border: none;
	background: none;
}
#filt-end span select:active {
	border: none;
}

.niceCheck {
	margin-top: 3px;

	width: 18px;

	height: 18px;

	display: inline-block;

	cursor: pointer;

	background: url(images/f-icon-pas.png);

}
.chex-text {
	vertical-align: 4px;
}

.niceCheck input {

	display: none;

}
.categoria {
	width: 752px;
	padding-top: 15px;
}
.categoria p {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #c8c8c8;
	bottom: 10px;
}
.categoria>div {
	margin-bottom: 19px;
}
.categoria>div>div {
	display: inline-block;
}
.categoria>div>div a {
	font-size: 16px;
	line-height: 24px;
	color: #5c8abe;
	/*	font-family: "NeoSansCyr-Medium";*/
	font-family: verdana;
	margin-right: 8px;
	margin-left: 35px;
}
.categoria>div>div a.act-f {
	color: #010101;
}
.categoria>div>div span{
	display: inline-block;
	width: 14px;
	height: 11px;
	padding-bottom: 3px;
	border: 2px #0f6a97 solid;
	border-radius: 3px;
	margin-top: 3px;
	vertical-align: -3px;
	text-align: center;

}
.categoria h1 {
	font-size: 22px;
	line-height: 24px;
	color: #010101;
	/*	font-family: "NeoSansCyr-Medium";*/
	font-family: verdana;
	margin-bottom: 10px;
}
.sort-page {
	width: 100%;
	padding-top: 10px;
	height: 35px;
	text-align: center;
}
.sort-page:last-of-type {
	height: 20px;
	padding-top: 14px;
}
.sort-page div {
	display: inline-block;
	margin-left: -6px

}
.sort-page div a {
	font-size: 12px;
	margin: 0 1px 0 2px;
	padding: 2px 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	background: none;
	color: #5c8abc;
}
.sort-page div .act-n {
	border: 1px solid gray;
	background: grey;
	color: black;
	text-decoration: none;
}
.sort-page div a:first-of-type {
	margin: 0 4px 0 0 ;
}
.sort-page div a:last-of-type {
	margin: 0 0 0 2px;
}
.sort-page div a span {
	font-size: 14px;
}
.clear {
	width: 100%;
	height: 2px;
	clear: both;
}
.pred-tabl {
	height: 9px;
	border-top: solid 1px grey;
}
#tables-in,#tables-in * tr,#tables-in * td {
	border: 1px solid grey;
	border-collapse:collapse;
}
#tables-in * tr:first-of-type, #tables-in * tr:first-of-type td  {
	border-bottom: none !important;
}
#tables-in * tr:first-of-type+tr, #tables-in * tr:first-of-type+tr td  {
	border-top: none !important;
}
#tables {

	width: 754px;
	height: auto;
}
#tables tr + tr:hover {
	background: rgb(223,232,168);
}
#tables-in {

	width: 754px;
	height: auto;
}
#tables tr:first-of-type td {
	height: 35px !important;

}
#tables tr:first-of-type td {
	/*	font-family: "NeoSansCyr-Medium";*/
	font-family: verdana;
	font-size: 22px;
	line-height: 24px;

}

#tables tr td {
	height: 65px;

}

#tables tr>td {
	width: 362px;
	vertical-align: middle;
}
#tables tr>td:first-of-type {
	padding-left: 12px;
}
#tables tr>td:first-of-type  a {
	font-family: verdana;
	font-size: 12px;
	color: #5c8abc;
}
#tables tr>td:first-of-type  a + a {
	color: gray;
}
#tables tr>td+td {
	width: 135px;
	text-align: center;

}
#tables tr+tr>td+td {
	font-family: verdana;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;	
}

#tables tr>td+td+td {
	width: 141px;

}
#tables tr>td+td+td p:first-of-type{

	text-decoration: line-through;
	color: #777777;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	display: block;
}
#tables tr>td+td+td p:last-of-type{
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	display: block;
}
#tables tr>td+td+td+td {
	width: 106px;

}
#tables .but-buy {
	float: none;
	width: 81px;
	height: 28px;
	display: inline-block;
}
#tables .but-buy a {
	float: none;
	display: block;
} 




#tables-corz tr + tr ,#tables-corz tr + tr td {
	border: 1px solid grey;
	border-collapse:collapse;
	border-right: none!important;

}
#tables-in-corz {
	border-collapse:collapse;
}
#tables-in-corz tr:last-of-type{
	border-collapse:collapse;
	border-left: none !important;
}
#tables-corz tr:first-of-type td {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	padding-top: 15px;
}
#tables-corz tr:last-of-type td {
	border: none !important;
	height: 44px !important;
	width: auto !important;
	text-align: right !important;
	font-family: verdana;
	font-size: 16px !important;
	font-weight: bold !important;
	color: black !important;

}
#tables-corz tr:last-of-type td span {
	font-family: verdana;
	font-size: 16px !important;
	font-weight: bold !important;
	color: black !important;
}
#tables-corz tr+tr>td:first-of-type {
	width: 392px;
	height: 55px;
	font-family: verdana;
	font-size: 12px;
	color: #5c8abc;
	text-align: left;
	padding-left: 5px;
	width: 387px;
}
#tables-corz tr td p {
	border: 1px solid black;
	text-align: center;
	margin: auto;
	width: 55px;
	height: 24px;
}
#tables-corz tr>td+td {
	width: 80px;
	text-align: center;
}
#tables-corz tr>td+td+td {
	width: 115px;
	font-family: verdana;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
#tables-corz tr>td+td+td+td {
	width: 111px;
	font-family: verdana;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
#tables-corz tr>td+td+td+td+td {
	width: 48px;
	border-right: none!important;
}
#tables-corz tr+tr>td+td+td+td+td a {
	background: url(images/zvonok-close-pas.png) no-repeat;
	width: 29px;
	height: 28px;
	display: block;
	margin: auto;
}
#tables-corz tr+tr>td+td+td+td+td a:hover {
	background: url(images/zvonok-close-act.png) no-repeat;
}
#text-tabl {
	width: 244px;
	height: 32px;
	border: solid 1px gray;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
#button-tabl {
	width: 185px;
	display: inline-block;
	height: 38px;
	float: left;

}
#button-tabl2 {
	width: 235px;
	height: 38px;
}
.tab-but p:first-of-type {
	color: #c51b10;
}
.tab-but {
	width: 752px;
}
.corzina .tab-but:first-of-type {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}
.corzina .tab-but .tab-but p:last-of-type{
	display: inline-block;
	float: left;
	margin: auto;
	height: 28px;
	padding-top: 10px;
	padding-left: 15px;
}
.corzina .tab-but .tab-but p:last-of-type span {
	font-size: 18px;
	color: #c51b10;
	padding-left: 10px;
}
.last-corz {
	padding-top: 17px;
	padding-right: 50px;
}
.tab-but {
	display: table;
}
.tab-but>div {
	padding-top: 5px;
	padding-left: 5px;
}
.tab-but p {
	font-size: 12px;
}
.last-corz {
	text-align: center;
}
.corzina h1{
	font-family: "NeoSansCyr-Medium";
	font-family: verdana;
	font-size: 22px;
	line-height: 24px;
	padding-top: 3px;
}
#tables-in-corz {

}
#tables-corz {

}
#header-authorisation.login-on {
	font-size: 12px !important;
	padding-left: 20px !important;
	width: 276px !important;
}
#header-authorisation.login-on p{
	padding-bottom: 15px;
}
#header-authorisation.login-on .author-rp a{
	display: block !important;
}

.dsearch {
	height: 41px;
	/*	width: 531px;*/
	border: 1px solid rgb(175, 197, 37);
	border-radius: 5px;
	background: rgb(175, 197, 37);
	padding: 3px 0px 0px 5px;
	float: left;
}
.dsearch #search {
	padding-left: 14px;
	height: 37px; 
	width: 470px;
	border: 1px solid #91A417 ;
	border-radius: 5px;
	float: left;
	margin-right: 3px;
}
#button-search {
	width: 47px;
	height: 47px;
	border: none;
	margin-top: -4px;
	margin-right: -6px;
}
div#box {
	width: 206px;
	height: 100px;
	margin-left: 10px;
	border: 1px solid black;
	border-radius: 6px;
	float: left;
	text-align: center;
}
div#box p:first-child {
	padding-top: 2px;
	height: 25px;
}
div#box * img {
	display: block;
	padding-left: 10px;
	float: left;
}
div#box div {
	height: 50px;
}
#box  a {
	font-size: 12px;
	display: block;
	color: #5c8abc; 
}
#box  a:hover {
	text-decoration: none;
}
#box div p {
	text-align: left;
	padding-left: 18px;
	width: 130px;
	height: 22px !important;
	float: right;
	color: #030303;
	font-size: 12px;
	line-height: 20px;
	display: block;
	height: 30px;
	margin: auto;

}
#box div p:last-of-type {
	text-align: right;
	padding-right: 40px;
	width: 90px;
	padding-top: 5px;
	height: 17px !important;
}
#box div p span {
	font-family: "NeoSansCyr-Medium";
	font-size: 22px;
	line-height: 22px;
	padding-right: 3px;
}

.suggest {
	width: 100%;
	min-height: 372px;
	margin-top: 8px;
	margin-left: -1px;
}
.suggest-block {
	margin-right: 7px;
	display: inline-block;
	border-radius: 6px;
	width: 245px;
	border: 1px #C5C5C3 solid;
	height: 370px;
	float: left;
}
.suggest-block:last-of-type {
	margin-right: 0px;
}
.suggest-block:hover {
	border: 1px black solid;
}
.suggest-block:hover>a{
	text-decoration: none;
	color: black;
}
.suggest-block>a {
	text-align: center;
	text-decoration: underline;
	color: #5c8abc;
	font-size: 12px;
	padding-top: 5px;
	display: block;
	width: 100%;
	height: 61px;
	line-height: 16px;
}
.product {
	width: 100%;
	height: 218px;
	text-align: center;
}
.product img {
	margin: auto;
	display: block;
}
.feature {
	position: relative;
	width: 100%;
	height: 86px;
}
.price-s {
	float: left;
	position: relative;
	height: 100%;
}
.price-s div:first-of-type {
	height: 44px;
	text-align: center;
	width: 134px;
}
.price {
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	border: 1px solid rgba(116, 132, 24, 0.8);
	border-bottom-left-radius: 5px;
	width: 134px;
	height: 41px;
	background: rgb(204, 225, 90); /* Для старых браузров */
	background: -moz-linear-gradient(top, rgb(204, 225, 90), rgb(152, 153, 20)); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgb(204, 225, 90)), color-stop(100%,rgb(152, 153, 20)));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, rgb(204, 225, 90), rgb(152, 153, 20));
	background: -o-linear-gradient(top, rgb(204, 225, 90), rgb(152, 153, 20)); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(204, 225, 90), rgb(152, 153, 20)); /* IE10 */
	background: linear-gradient(top, rgb(204, 225, 90), rgb(152, 153, 20)); /* CSS3 */ 

}
.price-s div p {
	color: #030303;
	font-size: 12px;
	line-height: 20px;
	display: block;
	padding-top: 11px;
	height: 28px;
	margin: auto;

}
.price-s div p span {
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}
.price-s div:first-of-type p {
	text-decoration: line-through;
	color: #777777;
	padding-top: 17px;
	height: 26px;
}
.feature .buy {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: auto;
}
.feature .buy a {
	background: url(images/buy-pas.png) no-repeat;
	width: 97px;
	height: 42px;
	display: block;
}
.feature .buy a:hover {
	background: url(images/buy-act.png) no-repeat;
	cursor: pointer;
}
.feature .buy a:active {
	box-shadow: 0 0 15px rgba(0,0,0,0.7); /* Параметры тени */
	cursor: progress;
}
.product-content {
	margin-top: 31px;
	width: 100%;

}
.page-prod {
	border: 1px grey solid;
	border-radius: 5px;
	padding-bottom: 23px;
}
.sort {
	height: 26px !important;
	width: 754px;
}
.sort a {
	text-decoration: underline;
	display: block;
	height: 100%;
	float: right;
	padding: 0 22px;
	font-size: 12px;
	color: #5C8ABC;
}
.sort a.act {
	background: #BFBFBF;
	text-decoration: none;
	color: black;

	border-bottom-right-radius:  5px;
	border-bottom-left-radius:  5px; 
}
.page-prod div.sort+div {
	height: 142px;
}
.switch {
	width: 9px;
	height: 100%;
}
.switch a {
	margin: auto 0;
	display: block;
	width: 9px;
	height: 94px;
}
.product-content .switch.one {
	float: left;
}
.product-content .switch.two {
	float: right;
}
.product-content * a.prev {
	float: left;
	background: url(images/prev.png) no-repeat;
}
.product-content * a.next {
	background: url(images/next.png) no-repeat;
	float: right;
}
.products-sample {
	float: left;
	width: 360px;
	min-height: 125px;
	border-bottom: 1px solid rgb(225, 225, 225);
	padding-top: 17px;
	padding-left: 4px;
}
.page-prod .products-sample + .products-sample {
	padding-left: 11px;
}
.products-sample img.product-cover {
	float: left;
	width: 102px;
	height: 117px;
}
.products-sample>div>div:first-of-type a {
	text-decoration: underline;
	color: #5c8abc;
	font-size: 12px;
	line-height:16px; 
}
.products-sample>div>div:first-of-type a:hover {
	text-decoration: none;
}
.price-prod {
	height: 60px;
}
.price-prod p {
	padding-left: 4px;
	color: #030303;
	font-size: 12px;
	display: block;
}
.price-prod p:last-of-type { 
	float: left;
}
.price-prod p span {
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}
.price-prod p:first-of-type {
	height: 22px;
	text-decoration: line-through;
	color: #777777;
	padding-top: 10px;
}
.but-buy {
	float: right;
}
.but-buy a {
	float: right;
	width: 81px;
	height: 28px;
	background-image: url(images/buy-pasiv.png);
}
.but-buy a:hover {
	background-image: url(images/buy-activ.png);
	cursor: pointer;
}
.but-buy a:active {
	box-shadow: 0 0 15px rgba(0,0,0,0.7); /* Параметры тени */
	cursor: progress;
}
.page-product-content {
	float: left;
	/*	width: 269px;*/
	padding-top: 7px;
	padding-left: 13px;
}
.page-product-content>div:first-of-type>a{
	max-width: 245px;
	min-height: 59px;
	white-space: pre-wrap;
	display: inline-block;
}
.tables {
	height: auto; 
	display: table;
}
.caption {
	color: #000;
	padding-top: 18px;
	height: 36px;
	width: 100%;
	display: block;
	font-family: "NeoSansCyr-Medium";
	font-size: 22px;
	line-height: 22px;
	padding-left: 4px;
}
.caption.end {
	height: 31px;
}
.capt {
	font-family: "NeoSansCyr-Medium";
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	margin-top: -40px;
	display: block;
}
#review {

}
#review * img {
	display: block;
}
.reliz {
	position: relative;
	margin-bottom: 14px;
	width: 752px;
	height: 115px;
}
.reliz img:hover {
	filter: grayscale(100%);
	/* Browser Specific*/
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
.back-ground {
	white-space: pre;
	color: #ffffff;
	height: 115px;
	width: 324px;
	position: absolute;
	background: url(images/ban-bottom.png)  0% 0% repeat;
	z-index: 1;
}
.back-ground p {
	display: block;
	position: absolute;
	top: 38%;
	left: 20px;
	font-family: "PFDinTextPro-XBlack";
	/*	font-weight:bold;*/
	font-size: 30px;
	line-height: 24px;
	width: auto;
	color: white;
}
.back-ground span {
	display: inline;
	position: absolute;
	bottom: 5%;
	right: 8px;
	font-family: "FDinTextPro-Thin";
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
}
.back-ground span a {
	font-family: "FDinTextPro-Thin";
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
}
#footer {
	width: 100%;
	height: 70px;
	background: #171717;
	color: #d2ff00;
	font-size: 12px;
	margin-top: 10px;
}
#footer div {
	margin: 0 auto;
	height: 70px;
	width: 999px;
}
#footer div a {
	color: #d2ff00;
	font-size: 12px;
}
#footer div a:first-of-type {
	float: left;
	margin-top: 30px;
	margin-left: 15px;
}
#footer div a:last-of-type,#footer div img  {
	float: right;
	margin-top: 30px;
	margin-right: 14px;
}
#footer div img {
	margin-top: 19px;
	margin-right: 25px;
}
.none {
	display: none !important;
}
.yes {
	display: block !important;
}
#community_like {
	padding-top: 10px;
}
#zakaz {
	z-index: 6;
	text-align: center;
	position: absolute;
	padding: 14px;
	
	height: 526px;
}
#zakaz form {
	padding-left: 16px;
	padding-top: 18px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 7px;
	width: 752px;
	height: 458px;
	background: white;
	font-size: 12px;
	color: gray;
	text-align: left;
}
#zakaz form div input {
	height: 33px;
	border: 1px solid grey;
	width: 244px;
	
}
#zakaz form div input:first-of-type {
	margin-right: 12px;
}
#zakaz form div p, #zakaz form div:first-of-type input {
	display: inline-block;
}
#zakaz form div:first-of-type p {
	margin-right: 22px;
}
#zakaz form div:first-of-type input {
	width: 13px;
	height: 13px;
	vertical-align: -2px;
	margin-right: 5px;
}
#zakaz form div div p:first-of-type {
	width: 244px;
	margin-right: 25px;
	padding-top: 17px;

}
.last3 input:last-of-type {
	width: 482px !important;
}
#zakaz>a {
	position: absolute;
	background: url(images/zvonok-close-pas.png) no-repeat left;
	width: 29px;
	height: 28px;
	top: 0px;
	right: 0px;
}
#zakaz>a:hover {
	background: url(images/zvonok-close-act.png) no-repeat left;
}
#zakaz h2 {
	text-align: left;
	font-size: 22px;
	color: black;
	height: 41px;
}
#zakaz form div:last-of-type input {
	width: 13px;
	height: 13px;
	vertical-align: -2px;
	margin-right: 5px;
}
#zakaz form>div:last-of-type {
	margin-top: 10px;
}
#zakaz form>div:last-of-type p:first-of-type {
	margin-right: 55px;
}
#zakaz textarea {
	margin-top: 5px;
	border: 1px solid grey;
	width: 745px;
	height: 75px;
}
#zakaz form>p:last-of-type {
	margin-top: 36px;
	text-align: center;
	margin-left: -56px;
}
#zakaz span {
	color: #393939;
}
#zakaz>p:last-of-type input{
	width: 235px;
	height: 38px;
}
@-moz-document url-prefix() {
	.banner-but span {
		font-size: 17px !important;
	}
}

.page-prod .sort {
	padding: 0; 
}

.banner-backg p {
	color: white;
}